
<div style="margin-left: 15vw;">
    <h1>GOALS</h1>
    <li>Creating a backend project with appropriate structure</li>
    <li>Using both JPA and JDBC</li>
    <li>Using entity and pojo classes when reaching database</li>
    <li>Using DTO classes for end point communication</li>
    <li>Implementing interfaces in controllers and services</li>
    
    <li>Able to do CRUD operation</li>
    <li>Able to send the data in Excel file</li>
    <li>Implementing swagger</li>
    <li>Having test and production databases & having corresponding .properties files (able to switch between test & prod)</li>
</div>

