<div style="width:12vw; height: 30vh; font-size: 2vh;">
    <div class="row" style="width:12vw; height: 15vh; border: solid; overflow: hidden;" 
         [ngStyle]="{'background-image': 'url(' + selected_img(cat) + ')', 'background-size': 'cover', 'background-position': 'center'}">
    </div>
    <div class="row" style="width:12vw; height: 15vh; border: solid;">
        <div class="container">
            <div class="row">
                <div class="col-6"><b><i>Name:</i></b></div>
                <div class="col-6">{{ cat.name }}</div>  <!-- ✅ Display name -->
            </div>
            <div class="row">
                <div class="col-6"><b><i>Weight:</i></b></div>
                <div class="col-6">{{ cat.weight }}</div>  <!-- ✅ Display weight -->
            </div>

            <div class="row" style="font-size: 0.75vh;">
                <div class="col-6">
                    <button type="button" 
                        class="btn btn-success"
                        style = "width:5vw;" 
                        (click)="modify(cat)">Modify</button>
                </div>
                <div class="col-6">
                    <button type="button" 
                        class="btn btn-danger" 
                        style = "width:5vw;" 
                        (click)="delete(cat)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>