<div style="width:80vw; margin-left: 10vw;" *ngIf="cat_list.length > 0; else loading">
    <h2 style="margin-left: 25vw;">View with Weight & Price (JPA)</h2>
    <div class="container" style="width:80vw;">
        <div class="row">
            <div class="col" style="margin-left: 2vw; margin-top: 2vh;" *ngFor="let cat of cat_list">
                <app-cardfull [cat]="cat"></app-cardfull>  <!-- ✅ Pass cat object -->
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <p>Loading cats...</p>
</ng-template>